<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

<form action="/users" method="post">
  <div><input name="firstName" placeholder="First Name"></div>
  <div><input name="lastName" placeholder="Last Name"></div>
  <div><input name="email" placeholder="Email Address"></div>
  <div><input name="password" placeholder="Password" type="password"></div>
  <div><input name="repeatPassword" placeholder="Repeat Password" type="password"></div>
  <div><input type="submit"> </div>
</form>

</body>
</html>